@import './styles/index.scss';

// Brand Colours
$BRAND_TERTIARY: #E5FCC2;
$BRAND_QUATERNARY: #9DE0AD;
$BRAND_SECONDARY: #45ADA8;
$BRAND_PRIMARY:#547980;
$GREY:#594F4F;

// Colour Rolls

// Aux Colours

