// 0
$screen-xsm: 0 !default;
// 480px
$screen-sm: 480px !default;
// 680px
$screen-md: 680px !default;
// 970px
$screen-lg: 970px !default;
// 1170px
$screen-xl: 1170px !default;
// 1600px
$screen-xxl: 1600px !default;